@import "../variable.scss";

.container {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: $appBarHeight;
  line-height: $appBarHeight;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;

  .title {
    font-weight: bold;
  }
}

